<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center ">Questa è la nostra home page</h1>
      <div class="row center">
        <h5 class="header col s12 light">Uno dei più grandi e pratici negozi on-line di contenuti digitali!</h5>
      </div>
      <div class="row center">
        <%= link_to 'Esplora subito i contenuti..', contents_path, class:"btn waves-effect light-blue lighten-2 " %>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><!-- <img src="app/assets/images/foto_homepage/750x750bb.jpg" alt="Unsplashed backround img 1"> --></div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center yellow-text accent-2"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">Incredibile qualità e varietà di contenuti digitali già pronti per la realizzazione delle tue idee!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center green-text accent-2"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">Concentrati sul l'esperienza di utilizzo e sulla facilità nel entrare in contatto con altri utenti e developer professionisti</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text accent-2"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to have your Own</h5>

          <p class="light">Cerchiamo di mettere in contatto clienti e professionisti per la realizzazione di materiale studiato ad hoc per raggiungere la perfezione dei propri sogni! </p>
        </div>
      </div>
    </div>

  </div>
</div>







  <div class="card-panel  blue lighten-4 center">
   non so se c'è abbastanza testo per non dover scrollare molto la pagina
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="center">così potrebbe bastare</p>
