<h1 class="center">Questa è la nostra home page</h1>
<br>
<br>
<br>
<br>
  <p class="center">un sacco di cose scritte solo per riempire un po' la pagina così possiamo capire se la nvabar cazzo sta fissa cmq oppure no, anche percè appana provo a metterla fissa smettono di funzionale i link in modalità collapse</p>
<br>
<br>
  <div class="card-panel  blue lighten-4 center">
   non so se c'è abbastanza testo per non dover scrollare molto la pagina
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="center">così potrebbe bastare</p>
