<header class="navbar-fixed">
  <nav class="#546e7a blue-grey darken-1">
    <div class="container nav-wrapper">
      <%= link_to "Lacer Market", root_path, class: "brand-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%= link_to "About", about_path %>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <%= link_to "About", about_path, class:"grey-text text-darken-4 " %>

      </ul>
    </div>
  </nav>
</header>
